body {
    background-color: rgb(59, 78, 125);
}


.header-container {
    background-color: rgb(8, 15, 58); 
}
h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 10px 10px;
    font-family: 'Nunito', sans-serif;
}

hr {
    background-color: white;
    color: white;
    height: 1px;
    border: none;
    margin-left: 20%;
    margin-right: 20%;
}

.subheading-container {
    background-color: rgb(8, 15, 58);
    text-align: center;
    padding: 20px 20px;
}

.subheading-container h2 {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 20px;
}

.subheading-extended {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(8, 15, 58);
    padding-left: 20px;
    padding-right: 20px;
}


.subheading-extended h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: white;
}


.template-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(8, 15, 58);
    padding-bottom: 40px;
    border-bottom: 3px solid rgb(111, 142, 165);
    padding-left: 20px;
    padding-right: 20px;
}

.note-card-container {
    background-color: rgb(24, 33, 87);
    border: 1px solid rgb(124, 131, 175);
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    width: 180px;
    margin: auto;

}

.inst-container {
    margin: 10px 10px;
}

.inst-container .fa-pen-alt {
    color: white;
}

.procedure-container {
    margin: 10px 10px;
}

.procedure-container input {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    height: 17px;
    font-family: Helvetica, sans-serif;
    color: white;
}

.procedure-container input:focus {
    outline: none;
}

.description-container {
    margin-top: 10px;
    
}

.description-container textarea {
    border-radius: 4px;
    border: 2px solid white;
    font-family: Helvetica, sans-serif;
}

.description-container textarea:focus {
    outline: none;
}

.desc-box {
    resize: none;
    text-align: justify;
}

/*Need to resize description box based on browser window, width: auto or 100%?*/

.allocated-time {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px 10px;
}

.allocated-time i {
    margin: auto;
}

.allocated-time .fa-hourglass-half {
    color: white;
}

.time-box {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.time-box h3 {
    color: white;
}

.time-box input:focus {
    outline: none;
}

.minute-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minute-container input {
    border: 1px solid white;
    border-radius: 3px;
}

.seconds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
}

.seconds-container input {
    border: 1px solid white;
    border-radius: 3px;
}

.time-box input {
    margin: 5px 5px;
}

.submit button {
    border: 10px solid rgb(111, 142, 165);
    background-color: rgb(111, 142, 165);
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    filter: drop-shadow(0 0 0.75rem black);
    transition-timing-function: ease-in-out;

}

.submit button:focus {
    outline: none;
}

.submit button:hover {
    transform: scale(1.1);
}

.error-label {
    visibility: hidden;
    display: relative;
    padding: 10px 10px;
    color: rgb(219, 49, 49);
}

.completed-tasks-container {
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px 20px;
}

.indiv-task-container {
    text-align: center;
    border-radius: 4px;
    background-color: rgb(70, 147, 114);
    padding: 10px 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(26, 34, 93);
    font-weight: 900;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    filter: drop-shadow(0 0 0.3rem rgb(123, 129, 177));
}

.indiv-task-container:hover {
    transform: scale(1.05);
}


.task-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    gap: 10px 10px;
    padding: 50px 50px;
    background-color: rgb(59, 78, 125);
}

.sample-card {
    border: 1px solid whitesmoke;
    padding: 5px 50px;
    border-radius: 5px;
    background-color: rgb(108, 159, 209);
    filter: drop-shadow(0 0 0.75rem black);
}

.samp-procedure-container {
    padding-top: 10px;
}

.samp-procedure-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 900;
    text-align: center;
    color: rgb(7, 20, 80);
}

.sample-card hr {
    margin: 2% 2%;
}

.samp-description-container {
    text-align: center;
    height: 90px;
    margin-left: 2%;
    margin-right: 2%;
}

.samp-description-container p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: rgb(7, 20, 80);
}

.samp-allocated-time {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.samp-time {
    margin-top: 8px;
    color: maroon;
    font-weight: 900;
    font-size: 25px;
}

.samp-btn-containers {
    display: flex;
    justify-content: center;
}


.samp-btn-containers button {
    padding: 15px 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid rgb(14, 14, 45);
    transition-timing-function: ease-in-out;
    transition-duration: .15s;
    filter: drop-shadow(0 0 0.25rem black);
    background-color: rgb(40, 40, 124);
}

.samp-btn-containers .fa-stopwatch {
    color: rgb(255, 190, 35);
    width: 26.6px;
}

.samp-btn-containers .fa-check {
    color: rgb(46, 146, 30);
}

.samp-btn-containers .fa-ban {
    color: rgb(205, 17, 17);
}

.samp-btn-containers button:focus {
    outline: none;
}

.samp-btn-containers button:hover {
    transform: scale(1.1);
    transform: drop-shadow(0 0 0.75rem black);
}